*{
  box-sizing: border-box;
}
.banner{
  display: flex;
  justify-content:center;
  align-items: center;
  width:100%;
  border-bottom-color: black;
  border-bottom-style: solid;
}
.banner-title{
  font-family:GothicI, cursive, serif;
}
.article-container{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width:100%;
  border-bottom: black solid;
}
.article{
  width:25%;
  padding: 0px 10px 0px 10px;
  display:flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}
.article.main{
  width:50%;
  border-right: black solid;
  border-left: black solid;
}
.article-pic{
  width: 75%;
}
.section-link-container{
  border-left: black solid;
  width:75%;
  display:flex;
  flex-direction: column;

}
.section-link{
  display:flex;
  height:20%;
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-family: sans-serif;
  padding-left: 10px;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.section-link.section-link--pol{
  background-color: #68B26F;
}
.section-link.section-link--tech{
  background-color: #60AE86;
}
.section-link.section-link--sports{
  background-color: #59AA9E;
}
.section-link.section-link--local{
  background-color: #52A6B5;
}
.section-link.section-link--return{
  background-color: #4CA2CD;
}
